body {
    margin: 0;
}

.banner {
    width: 100%;
    height: 450px;
    background: url(../img/Zajtsev-Aleksej-Moskva-D700-Nikkor-18-35-3.5-4.5-5.6-1-2-ISO-400Lightroom.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;

    .menu {
        width: 100%;
        height: 70px;
        display: flex;
        
        &__item {
            height: 100%;
            flex: 1;
            background: rgba(255, 255, 255, .9);
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            transition: .4s ease-in;
            cursor: pointer;

            &:hover {
                clip-path: polygon(0 0, 35% 0, 52% 30%, 67% 0, 100% 0, 100% 100%, 0 100%);
            }
        }
    }
}

.flipcard {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    perspective: 500px;

    .card {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.3rem;
        backface-visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        transition: .5s;
    }

    .front {
        background-color: gray;
    }

    .back {
        background-color: green;
        transform: rotateY(180deg); 
    }

    &:hover .front {
        transform: rotateY(-180deg);
    }

    &:hover .back {
        transform: rotateY(0);
    }
}
